
\.idea/jsLibraryMappings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/runConfigurations/bin_www\.xml

\.idea/trivial_api_project\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
/node_modules

\.env
